/*상단 검색, 사이드바 css*/
html {
    height: 200%;
}
/*그리드 추가, 화면 비율 수정 7.28 신지수*/
body {
    background-color: #000;
    margin: 0 auto;
    height: 95%;
    display: grid;
    grid-template-areas:
            "masthead masthead"
            "sidebar channel";
}
#masthead{grid-area: masthead;}
#sidebar{grid-area: sidebar;}
.channel{grid-area: channel;}

main {
    display: flex;
}

#contents {
    flex-direction: column;
}

#masthead {
    display: flex;
    justify-content: space-between;
    background: #212121;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
}

.head-yt-btn {
    display: inline-flex;
    padding-right: 0px;
    align-items: center;
    cursor: pointer;
}

#menu-icon {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
}

#menu-icon img {
    width: 24px;
    height: 24px;
}

#yt-logo {
    display: flex;
    padding: 18px 14px 18px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#yt-logo img {
    width: 90px;
    height: 20px;
}

.head-searchbox {
    display: flex;
    margin: 8px;
    width: 470px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
}

.search-box-area {
    display: flex;
    width: 426px;
    height: 40px;
    flex-shrink: 0;
}

.search-bar {
    width: 358px;
    height: 25px;
    padding: 6px;
    flex-shrink: 0;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #303030;
    background-color: #121212;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.search-bar::placeholder {
    color: #AAA;
    font-size: 16px;
    font-weight: 400;
}

.search-btn {
    display: flex;
    width: 34px;
    height: 26.5px;
    padding: 6px 13px;
    margin-left: 1px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0px 2px 2px 0px;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-btn img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.search-mic {
    display: flex;
    margin-left: 10px;
    padding: 8px;
    gap: 10px;
    border-radius: 40px;
    background-color: #000;
    cursor: pointer;
}

.search-mic img {
    width: 24px;
    height: 24px;
}

.head-profile {
    display: flex;
    width: 204px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.profile {
    display: flex;
    padding: 8px;
    gap: 10px;
    cursor: pointer;
}

.profile img {
    width: 24px;
    height: 24px;
}

.profile-user-avatar {
    display: flex;
    padding: 4px 10px;
    cursor: pointer;
}

.profile-user-avatar img {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    flex-shrink: 0;
    align-self: stretch;
}
 /* 공통된 css 하나로 묶음 허유미 07.27 */
.top-border,
.bottom-border {
     width: 100%;   /* 속성변경 허유미 07.27 */
    height: 1px;
    background: var(--border-color, #303030);
}

/*채널 css*//*채널 css*//*채널 css*/
.channel{
    width: 100%;
    /* overflow: hidden; */
    font-family: Roboto;
    font-style: normal;
    background-color: #000;
    grid-template-areas: 
            "channel-cover"
            "channel-title"
            "channel-toolbar"
            "small-video"
            "play-list";
}
.channel-cover{grid-area: channel-cover;}
.channel-title{grid-area: channel-title;}
.channel-toolbar{grid-area: channel-toolbar;}
.small-video{grid-area: small-videor;}
.play-list{grid-area: play-list;}
a{
    text-decoration: none;
    color:#fff;
}

/* 공통 배경 속성 추가 0728 허유미 */
.channel-cover,
.channel-title,
.channel-toolbar {
    background-color: #181818;
}

.channel-cover{
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 25%;
    overflow: hidden;
    
    /* object-fit: cover; */
}
.channel-cover img{
    display: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -20%);

    object-fit: cover;
}

.channel-title,
.channel-toolbar{
    background-color: #181818;
}
.channel-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color :#fff
    
}


.channel-profile{
    display: flex;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px;
}

.channel-profile img{
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 40px;
}

.subsc-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #cc0000;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: right;
    padding: 10px 20px;
    margin-right:60px;
}
.chanelname{
    font-weight: bolder;
    font-size : 25px;
    line-height: normal;
}
#toobar-home{
    color:#fff;
    font-weight: bold;
    border-bottom: solid 1px white;
}
.subsc-count{
    color:#AAA;
}
.channel-toolbar{
    display: flex;
    flex-direction: row;
    
}

.toolbars{
    display: flex;
    margin-left: 60px;
    margin-right: 20px;
}

.toolbar-menu{
    color : #AAA;
    /* border : solid 1px #242424; */  
    /* 피그마, 공식 유튜브에는 border 없어서 삭제 0728 허유미 */
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 18px;
}


.channel-search{
    display: flex;
    margin : 20px;
    align-items: center;
}
.c-search-icon img,
.c-search-btn img {
    width: 20px;
    height: 20px;
}

.small-video{
    color:#fff;
    display: flex;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 35px;
    margin-bottom: 35px;
    gap: 30px;

}

.s-video{
    border: solid white 1px;
    /* margin-left : 80px; */
    position: relative;
    width: 500px;
    height: 281.25px;
    /* padding-bottom: 56.25%; */
    overflow: hidden;
}

.s-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-desc{
    text-align: left;
    margin-top : 30px;
    overflow: hidden;
}

.video-title{
    font-size: 25px;
}
.video-time{
    color:#AAA;
}

.video-detail{
    font-size: 20px;
}

.play-list{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 35px;
    margin-bottom: 35px;
    overflow: hidden;
}
.long-border{
    border-bottom:solid 1px #303030;
}

.play-list-row{
    color:white;
}
.play-list-info{
    margin-top: 30px;
    display: flex;
    font-size: 21px;
}

.play-list-title{
    padding-right: 30px;
}

.play-list-btn{
    color:#AAA;
    display: flex;
    cursor: pointer;
}

.play-list-btn img{
    padding-right: 10px;
}
.play-list-video{
    display: flex;
}

.xsmall-video{
    box-sizing: border-box;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-right: 10px;
    flex:1;
    min-width: 200px;
}

.thumbnail-img{
    border:solid 1px white;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.thumbnail-img iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: none; */
}
.s-vedio-info-content{
    display: flex;
    flex-direction: column;
    margin-top:8px;
}

.s-thumb-title{
    font-size: 20px;
    margin-top:6px;
    margin-bottom:6px;
}
.s-chanelname,
.s-views{
    color:#AAA;
    font-size: 16px;
}