/* css 추가 0727 허유미 */
html {
    height: 200%;
}

body {
    background-color: #000;
    margin: 0 auto;
    height: 95%;
}

main {
    display: flex;
}

#contents {
    flex-direction: column;
}

/* masthead 부분 css 작성 0725 허유미 */
/* id, class 이름 변경 반영 0727 허유미 */
#masthead {
    display: flex;
    justify-content: space-between;
    background: #212121;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
}

.head-yt-btn {
    display: inline-flex;
    padding-right: 0px;
    align-items: center;
    cursor: pointer;
}

#menu-icon {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
}

#menu-icon img {
    width: 24px;
    height: 24px;
}

#yt-logo {
    display: flex;
    padding: 18px 14px 18px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#yt-logo img {
    width: 90px;
    height: 20px;
}

.head-searchbox {
    display: flex;
    margin: 8px;
    width: 470px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
}

.search-box-area {
    display: flex;
    width: 426px;
    height: 40px;
    flex-shrink: 0;
}

.search-bar {
    width: 358px;
    height: 25px;
    padding: 6px;
    flex-shrink: 0;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #303030;
    background-color: #121212;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.search-bar::placeholder {
    color: #AAA;
    font-size: 16px;
    font-weight: 400;
}

.search-btn {
    display: flex;
    width: 34px;
    height: 26.5px;
    padding: 6px 13px;
    margin-left: 1px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0px 2px 2px 0px;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-btn img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.search-mic {
    display: flex;
    margin-left: 10px;
    padding: 8px;
    gap: 10px;
    border-radius: 40px;
    background-color: #000;
    cursor: pointer;
}

.search-mic img {
    width: 24px;
    height: 24px;
}

.head-profile {
    display: flex;
    width: 204px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.profile {
    display: flex;
    padding: 8px;
    gap: 10px;
    cursor: pointer;
}

.profile img {
    width: 24px;
    height: 24px;
}

.profile-user-avatar {
    display: flex;
    padding: 4px 10px;
    cursor: pointer;
}

.profile-user-avatar img {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    flex-shrink: 0;
    align-self: stretch;
}

/* 김채홍 탑메뉴 css 7.25 */
#top-menu {
    background-color: #212121;
    width: 100%;
    height: 58px;
}

 /* 공통된 css 하나로 묶음 허유미 07.27 */
.top-border,
.bottom-border {
    width: 100%;   /* 속성변경 허유미 07.27 */
    height: 1px;
    background: var(--border-color, #303030);
}

/* 아이템에 마우스 올렸을 시 색상과 배경색상 변경 김채홍 7.26 */
.item:hover {
    background-color: white;
    color: #303030;
    cursor: pointer;  /* 요소 추가 허유미 07.27 */
}

.item {
    display: inline-flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 32px;
    border: 0.3px solid var(--gray-color, #AAA);
    background: var(--border-color, #212121);

    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}